@model IEnumerable<Category>
@{
    ViewData["Title"] = "Categories";
    int count = 1;
}

<h1>Categories</h1>

<button class="btn btn-success">Add New Category</button>
<br />

<table class="table w-50 text-center">
    <thead>
        <tr>
            <td>
                S.no
            </td>
            <td colspan="2">Category Name</td>
        </tr>
        <tbody>
            @foreach(var obj in Model){
                <tr>
                    <td>@(count++)</td>
                    <td>@obj.CategoryName</td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-warning">Update</button>
                        <button class="btn btn-primary">Delete</button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </thead>
</table>
